---
apiVersion: v1
kind: Secret
metadata:
  name: betka-fedora-gitlab-ssh-keys
type: Opaque
data:
  id_rsa: "{{ lookup('file', './../ssh-gitlab/id_rsa') | b64encode }}"
  id_rsa.pub: "{{ lookup('file', './../ssh-gitlab/id_rsa.pub') | b64encode }}"
