---
  apiVersion: v1
  kind: Secret
  metadata:
    name: betka-fedora-pagure-ssh-keys
  type: Opaque
  data:
    id_rsa: "{{ lookup('file', '../openshift/ssh-pagure/id_rsa') | b64encode }}"
    id_rsa.pub: "{{ lookup('file', '../openshift/ssh-pagure/id_rsa.pub') | b64encode }}"
